adium-theme-ubuntu==0.3.4
gunicorn
blinker==1.4
click==6.7
Flask==0.12.2
Flask-Admin==1.5.1
Flask-Mail==0.9.1
flask-secure-headers==0.6
Flask-SQLAlchemy==2.3.2
flask-sqlite-admin==0.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.6
unity-lens-photos==1.0
virtualenv==15.2.0
Werkzeug==0.14.1
WTForms==2.1
