<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/feedback.png" />
    <link rel="icon" type="image/png" href="../static/img/feedback.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Feedback Analysis</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../static/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../static/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	<div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <label class="simple-text">
                    FACULTY AREA
                </label>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                     <li >
                        <a href="{{url_for('facultydashboard',id=users[1])}}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('profile',id=users[1])}}">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('courses')}}">
                            <i class="material-icons">library_books</i>
                            <p>Select Courses</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('query')}}">
                            <i class="material-icons">content_paste</i>
                            <p>Query</p>
                        </a>
                    </li>
                    <li class= 'active'>
                        <a href="{{url_for('feedbackanalysis')}}">
                            <i class="material-icons">library_books</i>
                            <p>Feedback Analysis</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('change_password',id=users[1])}}">
                            <i class="fa fa-key"></i>
                            <p>Change Password</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('notifications')}}">
                            <i class="material-icons">sms</i>
                            <p>Notifications</p>
                           <!--{% if notifications is none %}<p>Notifications</p>{% else %}<p style="color:red;">Notifications</p>{% endif %}-->
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">
                            <i class="fa fa-user"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Analyze your Feedback</h4>
                                    <p class="category">Check the feedback given to you!!</p>
                                </div>
            <div class="card-content">
                                     <form method="POST" action="">
                                         <div class="row">
                                              <div class="col-md-4" style="padding: 20px;text-align: center;font-size: 20px;">Choose Subject  :</div>
                                              <div class="col-md-4">
                                                  <select name="sub" onchange="window.location.href='http://127.0.0.1:5000/feedbackanalysis?sub='+this.value" style="margin-top: 10px;height: 30px;width: 250px;">
                                                        {% if select_subject is none %}<option value="None">Select</option>{% endif %}
                                                        {% for item in subject %}
                                                                        {% if select_subject is not none and select_subject in item[2] %}
                                                                        <option value="{{item[2]}}" selected=true>{{item[2]}}</option>
                                                                        {% else %}

                                                                        <option value="{{item[2]}}">{{item[2]}}</option>
                                                                        {% endif %}
                                                                        
                                                        {% endfor %}
                                                        
                                                      </select>
                                                </div>
                                          </div>  
                     
                          <br>
                          <div class="row">
                            <div class="col-md-4" style="padding: 10px;text-align: center;font-size: 20px;">Filter :</div> 
                            <div class="col-md-4"> 
                                <select name="type1" style="margin-top: 0px;height: 30px;width: 250px;">
                                {% if select_type is none %}<option value="None">Select</option>{% endif %}
                                {% for item in types %}
                                                {% if select_type is not none and select_type in item %}
                                                <option value="{{item}}" selected=true>{{item}}</option>
                                                {% else %}

                                                <option value="{{item}}">{{item}}</option>
                                                {% endif %}
                                                
                                {% endfor %}
                                </select>
                            </div>
                           </div>
                          <br>
                          <br>
                          <center><button type="submit" class="btn btn-primary ">Check Your Feedback</button></center>
                        
                        <br>
                         {% if graph is not none %}
                         <div class="content">
                            <div class="container-fluid" style="border-color: #000;border-width: 2px;">
                                <div class="row">
                                    <div class="col-md-4" id="graph" style="width:90%;height:400px;">
                                    </div>
                                 </div>
                            </div>
                        </div>
                         {% endif %}
                        
                                         <div class="row">
                                            <div class="col-md-4" style="padding: 10px;text-align: center;font-size: 20px;">Select Year :</div> 
                                                  <div class="col-md-4"> 
                                                     <select name="year1" style="margin-top: 0px;height: 30px;width: 250px;">
                                                        {% if year is not none %}
                                                             {% for item in year %}
                                                                <option value="{{item}}">{{item}}</option>
                                                             {% endfor %}
                                                        {% else %}
                                                             <option value="">Choose Year first</option>
                                                        {% endif %}
                                                     </select>
                                                 </div>
                                           </div>
                                          <center><button type="submit" class="btn btn-primary ">Apply Filter</button></center>
                            </form>
                            <br>
                            {% if graph1 is not none %}
                             <div class="content">
                                <div class="container-fluid" style="border-color: #000;border-width: 2px;">
                                    <div class="row">
                                        <div class="col-md-4" id="graph2" style="width:90%;height:400px;">
                                        </div>
                                     </div>
                                </div>
                            </div>
                         {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="./facultydashboard.html">Group-12</a>,
                    </p>
                </div>
            </footer>
        </div>
    </div>
	</body>
<!--   Core JS Files   -->
<script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="../static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../static/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in static/js/demos.js
        TESTER = document.getElementById('graph');
        
        var layout = {
          title: 'Rating Graph',
          xaxis: {
            title: 'Year',
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            },
            range:[2014,2020],
            rangemode: 'nonnegative',
            zeroline: true,
            showline: true,
            zerolinecolor: '#969696',
            zerolinewidth: 4,
            linecolor: '#636363',
            linewidth: 6
          },
          yaxis: {
            title: 'Rating',
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            },
            range:[0,5.1],
            rangemode: 'nonnegative',
            zeroline: true,
            showline: true,
            zerolinecolor: '#969696',
            zerolinewidth: 4,
            linecolor: '#636363',
            linewidth: 6
          }
        };
        Plotly.plot( TESTER, [{
            x: {{data1|safe}},
            y: {{data2|safe}} }],layout);

        BAR = document.getElementById('graph2');
        var barlayout = {
             type: 'bar'
        };
        Plotly.plot(BAR,[{
            x: ['1','2','3','4','5'],
            y: [5,5,5,5,5],
            type:'bar'
        }], barlayout);



        /* Current Plotly.js version */
        console.log( Plotly.BUILD );
        demo.initDashboardPageCharts();

    });
</script>

</html>
