<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body background = "/static/back4.jpg" style="background-repeat: no-repeat;
  background-position: center;
   background-attachment: fixed;
    	 width: 100%;background-size:100% 100%;">
    		<div class="limiter" style="opacity:0.98;height:600px;padding:2.8%;">
		<div class="container-login100" style="opacity:0.98;" >
			<div class="wrap-login100" style="height: 600px;">
				<form class="login100-form validate-form" method = "POST">
					<span class="login100-form-logo">
						<img src="/static/images/icons/logo.jpg" style = "border-radius: 20px;height:100px;">
					</span>

					<span class="login100-form-title p-b-34 p-t-27" style="opacity:1">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username" style="opacity:1">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;" style="opacity:1"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<br>
					<br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>

					</div>

					<div class="text-center p-t-90" style = "margin-top: -80px">
						{% if message is not none %}
							<a class="txt1">
								<strong>{{message}}</strong><br>
							</a>
						{% endif %}
						<a class="txt1" href="{{url_for('register')}}">
							SIGN UP<br>
						</a>
							<a class="txt1" href="{{url_for('forgotpwdemail')}}">
								Forgot Password?
							</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
 <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="./dashboard.html">Group-12</a>
                    </p>
                </div>
            </footer>
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
</html>