<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Notifications</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../static/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../static/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<style>
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../static/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    STUDENT AREA
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                     <li>
                        <a href="{{url_for('dashboard',id=users[1])}}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('profile',id=users[1])}}">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('query')}}">
                            <i class="material-icons">content_paste</i>
                            <p>Query</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('feedback')}}">
                            <i class="material-icons">library_books</i>
                            <p>Feedback</p>
                        </a>
                    </li>
            <li>
                        <a href="{{url_for('change_password')}}">
                            <i class="fa fa-key"></i>
                            <p>Change Password</p>
                        </a>
                    </li>
            <li>
                        <a href="{{url_for('notifications')}}">
                            <i class="material-icons">sms</i>
                            {% if notifications is none %}<p>Notifications</p>{% else %}<p style="color:red;">Notifications</p>{% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">
                            <i class="fa fa-user"></i>
                            <p>Log Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Questions</h4>
                            <p class="category">Handcrafted by Admin
                                
                            </p>
                        </div>

                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Question Style</h5>
                                    <div class="jumbotron" style="">
					<div class=row">
					<div class="col-md-7">
                                        	<span>This is a plain notification</span>
					</div>
					<div class="col-md-1">
						<label class="container">One
  						<input type="checkbox" class="group1">
  						<span class="checkmark"></span>
						</label>					
					</div>
					<div class="col-md-1">
						<label class="container">Two
  						<input type="checkbox" class="group1">
  						<span class="checkmark"></span>
						</label>					
					</div>
					<div class="col-md-1">
						<label class="container">Three
  						<input type="checkbox" class="group1">
  						<span class="checkmark"></span>
						</label>					
					</div>
					<div class="col-md-1">
						<label class="container">Four
  						<input type="checkbox" class="group1">
  						<span class="checkmark"></span>
						</label>					
					</div>
					<div class="col-md-1">
						<label class="container">Five
  						<input type="checkbox" class="group1">
  						<span class="checkmark"></span>
						</label>					
					</div>



					
					</div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
$('input[type="checkbox"]').on('change', function() {
   $(this).siblings('input[type="checkbox"]').not(this).prop('checked', false);
});
</script>
<script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/js/material.min.js" type="text/javascript"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!--  Charts Plugin -->
<script src="../static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="../static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../static/js/demo.js"></script>

</html>
