<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/register.css">
<!--===============================================================================================-->
</head>
<body background = "/static/back4.jpg" style="background-repeat: no-repeat;
  background-position: center;
   background-attachment: fixed;
    	 width: 100%;background-size:100% 100%;">
	{% if message is not none %}
    <h2>{{message}}</h2>
	{% endif %}
	<div class="limiter" style="opacity:0.98;height:100%;padding:50px;">
		<div class="container-login100" style="opacity:0.98;" >
			<div class="wrap-login100" style="background:#3d4949">
				<form class="login100-form validate-form" method = "POST">
					<span class="login100-form-title p-b-34 p-t-27" style="opacity:1">
						Student Register
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter Name" style="opacity:1">
						<label class="label">Name :</label> 
						<input class="input100" type="text" name="name" >
						<span class="focus-input100" data-placeholder="&#xf207;" style="opacity:1"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter Date Of Birth">
						<label class="label">Date Of Birth :</label>
						<input class="input100" type="date" name="dob" placeholder="">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter Email">
						<label class="label">E-mail :</label>
						<input class="input100" type="email" name="email" >
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label class="label">Password :</label>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label class="label">Confirm Password :</label>
						<input class="input100" type="password" name="passc">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type = "submit" class="login100-form-btn">
							Register Me!
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
</html>
